.table_header {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    margin: 5px;
}
.table_reserved {
    background-color: #b64855;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
    border: 5px solid #fff;
}
.table_reserved1 {
    background-color: #cc9900;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
    border: 5px solid #fff;
}
.table_free {
    background-color:#34ae62;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
    border: 5px solid #fff;
}
.table_free:hover{
    color:#34ae62;
    background-color:white;
    font-size:15px;
    font-weight:bolder;
}
.table_reserved:hover{
    color:#b64855;
    background-color:white;
    font-size:15px;
    font-weight:bolder;
}
.table_header {
    background-color:#4855b6;
    font-weight: bold;
    color: #fff;
    padding:6px;
    border: 5px solid #fff;
}
.table_room {
    background-color:#4855b6;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding:6px;

}
#table_row{
    border: 5px solid #fff;
    height:60px;
}
